.Contador input {
  font-size: 1.4rem;
  width: 60px;
}

.Contador button {
  margin: 15px;
  height: 50xp;
  width: 50xp;
  border-radius: 50%;
  background-color: #47c27d;
  color: #141414;

  font-size: 1.4rem;
}